/* Mostrador de cálculos */
 #contenedor-calculadora {
    width: 60%;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
 }

 #display{
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;

 }

 .cursor {
    display: inline-block;
    width: 2px;
    height: 1em;    
    background-color: black;
    margin-left: -1px;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% { background: transparent; }
}



#botones-manejo-calculadora{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    justify-content: flex-end;
    margin-right: 20%;
    gap: 10px;
}

.tecla-de-movimiento{
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    

}	

/* Cuerpo de la calculadora */
#cuerpo-calculadora {
    display: grid;
    align-items: center;
    grid-template-columns: 25% auto;
    gap: 20px;
    
}

/* Teclado */

#teclado {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5%;
    width: 100%;
    
}

.teclas-numericas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding-left: 10%;
    padding-top: 20%;
    padding-bottom: 20%;

}


.funciones-basicas {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 20%;
    padding-bottom: 20%;
    padding-top: 20%;
    gap: 10px;
}

.tecla{
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#enter{
    background-color: #4c93af;
    color: white;
}
#poner-en-cero{
    background-color: #f44336;
    color: white;
}

/* Contenedor de operaciones realizadas */
#contenedor-operaciones {
    margin-left: 20px;
    margin-bottom: 10%;
    padding: 20px;
    border: 4px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    height: 80%;
    width: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

#borrar-historial {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    margin-left: 10%;
}
